*, body, html {
  font-family: serif;
}

.container.main {
  margin-top: 10px;
}
.container.main > .header {
  background-color: #acc4ea;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5fb', endColorstr='#acc4ea'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f5fb), to(#acc4ea)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f2f5fb,  #acc4ea); /* for firefox 3.6+ */
  color: black;
  font-weight: bold;
  padding: 10px;
  height: 30px;
}
.container.main > .header > h1 {
  float: left;
}
.container.main > .header > .next-drawing {
  font-size: medium;
  float: right;
}
.container.main > .header > .next-drawing > ul > li {
  display: inline-block;
}
.container.main > .header > .next-drawing > ul > li > a {
  color: black;
}

.jackpot-container {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  position: relative;
}
.jackpot-container > .title {
  text-align: left;
}
.jackpot-container >.jackpot {
  font-size: 80px;
  position: absolute;
  top: 50px;
  left: 350px;

  text-align: left;
}
.jackpot-container > .indexes {
  float: left;
}
#result {
  display: none;
  height: 300px;
  background-color: blue;
  font-size: xx-large;
}
.entry-container {
  text-align: center;
  margin-bottom: 30px;
}
.entry-container, .select {
  display: none;
}

.video-ad {
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
}

.entry-container > div.entry {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../images/basket_150.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.entry-container > div.entry.filled {
  height: 240px;
}
.entry-container > div.entry > .input-container {
  height: 50px;
}
.entry-container > div.entry > .input-container input {
  display: none;
}
 
.entry-container > div.entry.filled > div.background {
  height: 80px;
  background-image: url('black.png');
  background-repeat: repeat-y;
  background-position: center top;
}

.entry-container > div.entry > div.background {
  height: 70px;
}
.entry-container > div.entry > div.ad {

  height: 80px;
}


.entry-container > div.entry > div.ad img {
  height: 70px;
  width: 140px;
}

.entry-container input[name=entry] {
  font-size: 50pt;
  height: 80px;
  width: 100px;
  text-align: center;
  border: 1px black solid;
  cursor: default;
}
.select {
  text-align: center;
  position: relative;
}
.select.finished {
  font-size: 60pt;
}
.selection {
  display: inline-block;
  width: 65px;
  height: 100px;
  margin: 8px;
  background: url('../images/selection.png');
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}
.selection > .value {
  border-bottom: 1px black solid;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  margin-top:5px;
}
.selection > .ad {
  height: 40px;
  padding: 10px;
}
.selection > .ad > a {
  color: #333;
}
.selection.empty {
  width: 100px;
  background: none;
}
.selection.empty > .value {
  border: none;
}
.selection > .value img {
  width: 50px;
}
.section-bottom > div {
  font-size: medium;
}
.section-bottom > div > h2 {
  background-color: #acc4ea;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5fb', endColorstr='#acc4ea'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f5fb), to(#acc4ea)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f2f5fb,  #acc4ea); /* for firefox 3.6+ */
  
  color: black;
  padding: 10px;
}
.share {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: xx-large;
}
.share > div {
  display: inline-block;
}


/* login stuff */

.login-container > div:first-child {
  float: left;
  border-right: 1px #EEE solid;
  padding: 20px;
}

.login-container > div:last-child {
  float: right;
}
label {
  display: block;
}

.login-container {
  font-size: 200%;
}

/* counter stuff */
.counter-wrap {
  height: 90px;
  overflow: hidden;
  width: 500px;
  display: inline-block;
}
.counter-number, .counter-number-fake {
  height: 950px;
  width: 57px;
  position: relative;
  background-image: url(../images/counter_ticker_bg_high1.png);
  background-repeat: no-repeat;
  float: left;
}
.container.main > .header > .next-drawing > ul > li > a.how {
  font-size: 150%;
  text-decoration: underline;
}