

<div class="jackpot-container span-24">
  <div class="indexes"><img src="images/indexes.png" /></div>
  <div class="jackpot"></div>
  <div class="jackpot2">
    <div class="counter-wrap">
      <div class="counter-number">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="title">Guess numbers to win...</div>
</div>

<div class="select span-24">
  <script type="text/x-jquery-tmpl" id="tmplAdText">
    <div class="selection">
      <div class="value">
        <img src="images/numbers/${value}.png" />
      </div>
      <div class="ad">
        <a href="javascript:">${name}</a>
      </div>
    </div>
  </script>           
  <div class="selection empty">
    <div class="value">

    </div>
    <div class="ad">
      Your individual game has been sponsored by:
    </div>
  </div>
</div>

<div class="video-ad span-24">
  <div class="video-explanation">
    Watch this advertisement and you'll enter your guess in a moment.
  </div>

  <div id="yt-replace-me"><p>hello world</p></div>

</div>

<div class="entry-container span-24">
  <script type="text/x-jquery-tmpl" id="tmplEntry">
    <div class="entry">
      <div class="input-container">
        <input type="text" name="entry" readonly="readonly" />
      </div>
      <div class="background"></div>
      <div class="ad">
        <a href="javascript:void(0);">
          
        </a>
      </div>
    </div>
  </script>
</div>

<div class="share">
  <div class="instructions">
    Share with your friends for more chances to play! 
  </div>
  <div class="addthis">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d23bb943f9f0e37"></script>
    <!-- AddThis Button END -->

  </div>
</div>

<div class="section-bottom">
  <div class="play span-8">
    <h2>Play</h2>
    <p>
      How to play. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="win span-8">
    <h2>Win!</h2>
    <p>
      How to win Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="how span-8 last">
    <h2>How?</h2>
    <p>
      How does this work? How is revenue generated? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
